* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    margin: 0;
}

header{
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

header > img{
    width: 43px;
}

header > h1{
    font-weight: 400;
    font-size: 32px;
}
